:root {
    --primary-color: rgb(51, 51, 51,0.8 );
    --secondary-color: rgba(229, 148, 0, 0.9);
    --overlay-color: rgb(129, 127, 127, 0.9);
    --menu-speed: 0.75s;   
}   
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;
    
}
/*---------------------------------------------Page 1---------------------------------------------*/
.top {
    position: relative;
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding:0 3rem ;
    background-color: rgb(255, 235, 205,0.1);
    border-radius: 20px;
}

.page1 {
    color: white;
    height: 100vh;
    position: relative;
}
.page1:before {
    content: '';
    background:  url('./jon-flobrant-lRSChvh1Mhs-unsplash.jpg')no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:-1 ;
}
.page1 .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 25%;
    width: 700px;
    height: 150px;


}
.page1 .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: end;
    margin-top: 300px;

}

.page1 h1 {
    font-size: 4rem;
    color: var(--primary-color);
}
.black {
    color: var(--secondary-color);
}
.page1 p{
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: 700;
}
.btn {
    display: inline-block;
    border: none;
    background: var(--secondary-color);
    color: white;
    padding: 0.75rem 1.5rem;
    margin-top: 1rem ;
    transition: opacity 1s ease-in-out;
    text-decoration: none;
    border-radius: 15px;
}

.btn:hover {
    opacity: 0.7;
}

.page1 h1 {
    transform: translateY(-1200px);
    animation: heading forwards ease-in-out 2s;
}
.page1 p {
    transform: translateX(-1800px);
    animation: text forwards ease-in-out 2s;
}
.btn {
    transform: translateY(800px);
    animation: btn forwards ease-in-out 2s;
}

/*---------------------------------------------Page 2---------------------------------------------*/
.page2 {
    height: 100vh;
    position: relative;
    display: flex;
    background: url('./background.jpg')no-repeat center center/cover; 
}


    .leftside{
        width: 50%; 
    }
    .leftside img {
        height: 100%;
        width: 100%;
    }
    .leftside:hover {
        opacity: 0.8;
    }
    .rightside {
        width: 50%;
    }
    .rightside h1 {
        text-align: center;
        font-size: 4rem;
        margin-bottom: 40px;
        color: var(--secondary-color);
    }
    .rightside p{
        font-size: 20px;
        margin: 15px;
    }
    /*---------------------------------------------Page 3---------------------------------------------*/
    .page3 {
        height: 100vh;
        position: relative;
        background: url('./sand3.jpg')no-repeat center center/cover;
      
    }
    
    .title {
   background:rgb(245, 222, 179,0.4);
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 20px;
    }

    .page3 h1 {
        font-size: 4rem;
        color: var(--primary-color);
    }
    
    .page3 h3 {
        font-size: 30px;
        color: var(--secondary-color);
    }
    .page3 p {
        font-size: 1.7rem;
        color: var(--primary-color);
        font-weight: 600;
    }
    .cards {
        display: flex;
        justify-content: space-evenly;
        flex-basis: auto;
        margin: 5px;
        margin-top: 20px;
      }
    
    .flip-card {
        background-color: transparent;
        width: 300px;
        height: 400px;
        perspective: 1000px; 
      }
      
      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
      }
      
      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }
      
     
      .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; 
        backface-visibility: hidden;
      }
    
      .flip-card-front {
        background-color: #bbb;
        color: black;
        width: 300px;
        height: 400px;
      }
      
  
      .flip-card-back {
        background-color: var(--primary-color);
        color: white;
        transform: rotateY(180deg);
      }
      .flip-card-back li {
          border-bottom: var(--secondary-color) 2px dotted;
          color: white;
          margin-top: 20px;
          font-size: 20px;
         list-style-type: none;
      }
      .flip-card-back h2 {
         font-size: 30px;
         color:rgb(212, 212, 212);
         margin-top: 10px;
      }
      .flip-card-front img {
        width: 300px;
        height: 400px;
      }
      



    /*---------------------------------------------Page 4---------------------------------------------*/
    .page4 {
        height: 100vh;
        position: relative;
        display: flex;
        background: var(--primary-color);
    }
    .page4 .contact-form{
        display: flex;
        flex-direction: column;
        width: 50%; 
        background: var(--primary-color);
    }
    .form {
        margin-top: 30px;
    }
    .contact-form label{
        display: flex;
        margin-bottom: 5px;
        font-size: 20px;
        font-weight: 600;
        color: var(--secondary-color);
        margin: 5px 20px;
    }
    .contact-form .btn {
        margin: 5px 20px;
    }
    .contact-form input,
    .contact-form textarea {
        width: 90%;
        padding: 10px;
        margin: 5px 20px 5px 20px
    }
    .contact-form textarea{
        height: 150px;
    }
    .contact-form input:focus,
    .contact-form textarea:focus {
        outline: none;
        border-color: #f7c08a;
    }
    .contact-form input:hover , .contact-form textarea:hover {
        border: 3px var(--secondary-color) solid;
        transition: ease-in .5s;
    }
    
    .contact-pic{
        display: flex;
        width: 50%; 
        background: url('./contact.jpg')no-repeat center center/cover;
    }
    .contact-pic img {
        width: 80%;
        height: 80%;
    }
    .contact-title h1 {
        text-align: center;
        font-size: 4rem;
        margin-bottom: 40px;
        color: var(--secondary-color);
        margin-bottom:30px;
    }
 
    
    
    /*---------------------------------------------KeyFrames---------------------------------------------*/
    @keyframes heading {
        to {
        transform: translateY(0)
        }
    }
    @keyframes text {
        to {
        transform: translatex(0)
        }
    }
    @keyframes btn {
        to {
        transform: translatex(0)
        }
    }
        /*---------------------------------------------@media---------------------------------------------*/

        @media (max-width: 414px)   {
            .page1 .top {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                height: 25%;
                width: 400px;
                height: 100px;
             
            }
            .page1 h1 {
                font-size: 2rem;
                color: var(--primary-color);
            }
            .page1 p{
                font-size: 1rem;
                color: var(--primary-color);
                font-weight: 600;
        }

        .page1 .bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: end;
            margin-top: 350px;
        }
        .rightside h1 {
            text-align: center;
            font-size: 2rem;
            margin-bottom: 10px;
            color: var(--secondary-color);
        }
        .rightside p{
            font-size: 14px;
            line-height: 14px;
           
        }
        .page3 h1 {
            font-size: 2rem;
            color: var(--primary-color);
        }
        .page3 h3 {
            font-size: 30px;
            color: var(--secondary-color);
        }
        .page3 p {
            font-size: 1rem;
            color: var(--primary-color);
            font-weight: 600;
        }
        .flip-card-front {
            background-color: #bbb;
            color: black;
            width: 100px;
            height: 200px;
          }
          .flip-card-front > img {
            width:150px;
            height:200px;
          }
          .cards {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-basis: auto;
            margin: 5px;
            margin-top: 20px;
          }
          
           
    .title {
        background:rgb(245, 222, 179,0.4);
         flex-direction: row;
         align-items: center;
         text-align: center;
         margin: 0px;
         border-radius: 20px;
         }

         .contact-title h1 {
            text-align: center;
            font-size: 2rem;
            margin-bottom: 40px;
            color: var(--secondary-color);
            margin-bottom:30px;
        } 
    .contact-form input,
    .contact-form textarea {
        width: 70%;
        padding: 10px;
        margin: 5px 20px 5px 20px;
    }